@import "tailwindcss";

body {
  background-color: #01030e;
  color: #a8c5b8;
}

@theme {
  --animate-ripple: ping 1s cubic-bezier(0, 0, 0.2, 0.8) 1 forwards;

  @keyframes ripple {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}


@theme {
  --animate-ping: ping 3s cubic-bezier(0.25, 0.1, 0.25, 1) infinite; 
  
  @keyframes ping {

    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}